# express
export PORT=4000
export HOST=localhost
# DB
export DMD_DB_POSTGRES="postgres"
export DMD_DB_POSTGRES_PASS="change-me-to-a-strong-password"
export DMD_DB_POSTGRES_PORT=5433
export DMD_DB_POSTGRES_HOST=127.0.0.1
export DMD_PGADMIN_PASS="change-me-to-a-strong-password"
export DMD_DB_API_PASS="change-me-to-a-strong-password"

export POSTGRES_INSTANCE=127.0.0.1:5433
export RPC_URL="http://localhost:54100/"
export RPC_URL_DOCKER=http://host.docker.internal:54100/
export DEV_TOOLS_LOG_DEBUG=false

export DMD_REGISTRAR_CONTROLLER_ADDRESS=""
export DMD_NAMES_ADDRESS=""